# Environnements virtuels
venv/
.env/

# Fichiers Python compilés
__pycache__/
*.pyc

# Config éditeurs
.vscode/
.idea/

# Historique local VSCode / plugins
.history/
.pytest_cache/
.ruff_cache/

# Dossier Exemple
Exemple/
tests/

# Données volumineuses / temporaires
*.h5
*.log
